.screen {
  height: 97vh;
}

.title {
  height: 8%;
  font-size: 35px;
  border-radius: 7px;
  text-align: center;
  font-family: sans-serif;
  margin: 0% 0.2% 0.6% 0.2%;
  background-color: rgba(66, 176, 219, 0.6);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.detailBox {
  height: 91.6%;
  display: flex;
  border-radius: 7px;
  margin: 0% 0.2% 0% 0.2%;
}

.productBox {
  width: 30%;
  height: 99%;
  margin: 0.5%;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.productInfo {
  width: 97%;
  height: 14.5%;
  margin: 1% 0% 2% 1.5%;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.3);
}

#box {
  width: 70%;
  height: 99%;
  margin: 0.5%;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.clientInfoBox {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 99.4%;
  height: 80%;
}

.clientInfo {
  width: 98.6%;
  height: 15%;
  margin: 0.5% 0% 0.5% 1%;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.3);
}

.detailTitle {
  text-align: center;
  font-size: x-large;
}

.title > span {
  color: crimson;
  font-weight: 600;
  font-size: 45px;
}

.addClient {
  height: 14%;
  width: 99.3%;
}
#clientName {
  width: 20%;
  height: 20%;
  margin: 1%;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid black;
}

#add {
  font-size: 25px;
  border-radius: 7px;
}
